**/metadata
/.DS_Store
/.metadata/
1720_Lab1/src/.classpath
1720_Lab1/src/.project
1720_Lab1/src/lab1/.classpath
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback/0.log

lab-code/1720_Lab2/.DS_Store
lab-code/1720_Lab2/src/.DS_Store
*.class
